In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# Join ada 4 Jenis:
* Inner Join
* Left Join
* Right Join
* Cross Join

Terdapat Join ke diri Sendiri yang disebut Self Join

# 1. INNER JOIN

In [2]:
run("""
SELECT 
    productCode, 
    productName,
    textDescription
FROM
    products AS t1
        INNER JOIN
    productlines AS t2 ON t1.productline = t2.productline
""")

#kolom yg menyamakan keduanya kolom productline, sehingga join diperhatikan productLine

,productCode,productName,textDescription
0,S10_1949,1952 Alpine Renault 1300,Attention car enthusiasts: Make your wildest c...
1,S10_4757,1972 Alfa Romeo GTA,Attention car enthusiasts: Make your wildest c...
2,S10_4962,1962 LanciaA Delta 16V,Attention car enthusiasts: Make your wildest c...
3,S12_1099,1968 Ford Mustang,Attention car enthusiasts: Make your wildest c...
4,S12_1108,2001 Ferrari Enzo,Attention car enthusiasts: Make your wildest c...
5,S12_3148,1969 Corvair Monza,Attention car enthusiasts: Make your wildest c...
6,S12_3380,1968 Dodge Charger,Attention car enthusiasts: Make your wildest c...
7,S12_3891,1969 Ford Falcon,Attention car enthusiasts: Make your wildest c...
8,S12_3990,1970 Plymouth Hemi Cuda,Attention car enthusiasts: Make your wildest c...
9,S12_4675,1969 Dodge Charger,Attention car enthusiasts: Make your wildest c...
10,S18_1129,1993 Mazda RX-7,Attention car enthusiasts: Make your wildest c...
11,S18_1589,1965 Aston Martin DB5,Attention car enthusiasts: Make your wildest c...
12,S18_1889,1948 Porsche 356-A Roadster,Attention car enthusiasts: Make your wildest c...
13,S18_1984,1995 Honda Civic,Attention car enthusiasts: Make your wildest c...
14,S18_2238,1998 Chrysler Plymouth Prowler,Attention car enthusiasts: Make your wildest c...
15,S18_2870,1999 Indy 500 Monte Carlo SS,Attention car enthusiasts: Make your wildest c...
16,S18_3232,1992 Ferrari 360 Spider red,Attention car enthusiasts: Make your wildest c...
17,S18_3233,1985 Toyota Supra,Attention car enthusiasts: Make your wildest c...
18,S18_3278,1969 Dodge Super Bee,Attention car enthusiasts: Make your wildest c...
19,S18_3482,1976 Ford Gran Torino,Attention car enthusiasts: Make your wildest c...
20,S18_3685,1948 Porsche Type 356 Roadster,Attention car enthusiasts: Make your wildest c...
21,S18_4027,1970 Triumph Spitfire,Attention car enthusiasts: Make your wildest c...
22,S18_4721,1957 Corvette Convertible,Attention car enthusiasts: Make your wildest c...
23,S18_4933,1957 Ford Thunderbird,Attention car enthusiasts: Make your wildest c...
24,S24_1046,1970 Chevy Chevelle SS 454,Attention car enthusiasts: Make your wildest c...
25,S24_1444,1970 Dodge Coronet,Attention car enthusiasts: Make your wildest c...
26,S24_1628,1966 Shelby Cobra 427 S/C,Attention car enthusiasts: Make your wildest c...
27,S24_2766,1949 Jaguar XK 120,Attention car enthusiasts: Make your wildest c...
28,S24_2840,1958 Chevy Corvette Limited Edition,Attention car enthusiasts: Make your wildest c...
29,S24_2887,1952 Citroen-15CV,Attention car enthusiasts: Make your wildest c...
...,...,...,...
80,S18_4600,1940s Ford truck,The Truck and Bus models are realistic replica...
81,S24_2300,1962 Volkswagen Microbus,The Truck and Bus models are realistic replica...
82,S32_1268,1980â€™s GM Manhattan Express,The Truck and Bus models are realistic replica...
83,S32_2509,1954 Greyhound Scenicruiser,The Truck and Bus models are realistic replica...
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,The Truck and Bus models are realistic replica...
85,S50_1392,Diamond T620 Semi-Skirted Tanker,The Truck and Bus models are realistic replica...
86,S18_1342,1937 Lincoln Berline,Our Vintage Car models realistically portray a...
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Our Vintage Car models realistically portray a...
88,S18_1749,1917 Grand Touring Sedan,Our Vintage Car models realistically portray a...
89,S18_2248,1911 Ford Town Car,Our Vintage Car models realistically portray a...
90,S18_2325,1932 Model A Ford J-Coupe,Our Vintage Car models realistically portray a...
91,S18_2795,1928 Mercedes-Benz SSK,Our Vintage Car models realistically portray a...
92,S18_2949,1913 Ford Model T Speedster,Our Vintage Car models realistically portray a...
93,S18_2957,1934 Ford V8 Coupe,Our Vintage Car models realistically portray a...
94,S18_3136,18th Century Vintage Horse Carriage,Our Vintage Car models realistically portray a...
95,S18_3140,1903 Ford Model A,Our Vintage Car models realistically portray a...
96,S18_3320,1917 Maxwell Touring Car,Our Vintage Car models realistically portray a...
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Our Vintage Car models realistically portray a...
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Our Vintage Car models realistically portray a...
99,S18_4522,1904 Buick Runabout,Our Vintage Car models realistically portray a...
100,S18_4668,1939 Cadillac Limousine,Our Vintage Car models realistically portray a...
101,S24_1937,1939 Chevrolet Deluxe Coupe,Our Vintage Car models realistically portray a...
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Our Vintage Car models realistically portray a...
103,S24_3151,1912 Ford Model T Delivery Wagon,Our Vintage Car models realistically portray a...
104,S24_3420,1937 Horch 930V Limousine,Our Vintage Car models realistically portray a...
105,S24_3816,1940 Ford Delivery Sedan,Our Vintage Car models realistically portray a...
106,S24_3969,1936 Mercedes Benz 500k Roadster,Our Vintage Car models realistically portray a...
107,S24_4258,1936 Chrysler Airflow,Our Vintage Car models realistically portray a...
108,S32_4289,1928 Ford Phaeton Deluxe,Our Vintage Car models realistically portray a...
109,S50_1341,1930 Buick Marquette Phaeton,Our Vintage Car models realistically portray a...

In [3]:
run("""
SELECT 
    productCode, 
    productName,
    t1.productLine,
    textDescription
FROM
    products AS t1
        INNER JOIN
    productlines AS t2 ON t1.productline = t2.productline
""")

#kolom yg menyamakan keduanya kolom productline, sehingga join diperhatikan productLine 
#productLinenya dari t1
#yg keluar yg ada irisannya

,productCode,productName,productLine,textDescription
0,S10_1949,1952 Alpine Renault 1300,Classic Cars,Attention car enthusiasts: Make your wildest c...
1,S10_4757,1972 Alfa Romeo GTA,Classic Cars,Attention car enthusiasts: Make your wildest c...
2,S10_4962,1962 LanciaA Delta 16V,Classic Cars,Attention car enthusiasts: Make your wildest c...
3,S12_1099,1968 Ford Mustang,Classic Cars,Attention car enthusiasts: Make your wildest c...
4,S12_1108,2001 Ferrari Enzo,Classic Cars,Attention car enthusiasts: Make your wildest c...
5,S12_3148,1969 Corvair Monza,Classic Cars,Attention car enthusiasts: Make your wildest c...
6,S12_3380,1968 Dodge Charger,Classic Cars,Attention car enthusiasts: Make your wildest c...
7,S12_3891,1969 Ford Falcon,Classic Cars,Attention car enthusiasts: Make your wildest c...
8,S12_3990,1970 Plymouth Hemi Cuda,Classic Cars,Attention car enthusiasts: Make your wildest c...
9,S12_4675,1969 Dodge Charger,Classic Cars,Attention car enthusiasts: Make your wildest c...
10,S18_1129,1993 Mazda RX-7,Classic Cars,Attention car enthusiasts: Make your wildest c...
11,S18_1589,1965 Aston Martin DB5,Classic Cars,Attention car enthusiasts: Make your wildest c...
12,S18_1889,1948 Porsche 356-A Roadster,Classic Cars,Attention car enthusiasts: Make your wildest c...
13,S18_1984,1995 Honda Civic,Classic Cars,Attention car enthusiasts: Make your wildest c...
14,S18_2238,1998 Chrysler Plymouth Prowler,Classic Cars,Attention car enthusiasts: Make your wildest c...
15,S18_2870,1999 Indy 500 Monte Carlo SS,Classic Cars,Attention car enthusiasts: Make your wildest c...
16,S18_3232,1992 Ferrari 360 Spider red,Classic Cars,Attention car enthusiasts: Make your wildest c...
17,S18_3233,1985 Toyota Supra,Classic Cars,Attention car enthusiasts: Make your wildest c...
18,S18_3278,1969 Dodge Super Bee,Classic Cars,Attention car enthusiasts: Make your wildest c...
19,S18_3482,1976 Ford Gran Torino,Classic Cars,Attention car enthusiasts: Make your wildest c...
20,S18_3685,1948 Porsche Type 356 Roadster,Classic Cars,Attention car enthusiasts: Make your wildest c...
21,S18_4027,1970 Triumph Spitfire,Classic Cars,Attention car enthusiasts: Make your wildest c...
22,S18_4721,1957 Corvette Convertible,Classic Cars,Attention car enthusiasts: Make your wildest c...
23,S18_4933,1957 Ford Thunderbird,Classic Cars,Attention car enthusiasts: Make your wildest c...
24,S24_1046,1970 Chevy Chevelle SS 454,Classic Cars,Attention car enthusiasts: Make your wildest c...
25,S24_1444,1970 Dodge Coronet,Classic Cars,Attention car enthusiasts: Make your wildest c...
26,S24_1628,1966 Shelby Cobra 427 S/C,Classic Cars,Attention car enthusiasts: Make your wildest c...
27,S24_2766,1949 Jaguar XK 120,Classic Cars,Attention car enthusiasts: Make your wildest c...
28,S24_2840,1958 Chevy Corvette Limited Edition,Classic Cars,Attention car enthusiasts: Make your wildest c...
29,S24_2887,1952 Citroen-15CV,Classic Cars,Attention car enthusiasts: Make your wildest c...
...,...,...,...,...
80,S18_4600,1940s Ford truck,Trucks and Buses,The Truck and Bus models are realistic replica...
81,S24_2300,1962 Volkswagen Microbus,Trucks and Buses,The Truck and Bus models are realistic replica...
82,S32_1268,1980â€™s GM Manhattan Express,Trucks and Buses,The Truck and Bus models are realistic replica...
83,S32_2509,1954 Greyhound Scenicruiser,Trucks and Buses,The Truck and Bus models are realistic replica...
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,The Truck and Bus models are realistic replica...
85,S50_1392,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,The Truck and Bus models are realistic replica...
86,S18_1342,1937 Lincoln Berline,Vintage Cars,Our Vintage Car models realistically portray a...
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Vintage Cars,Our Vintage Car models realistically portray a...
88,S18_1749,1917 Grand Touring Sedan,Vintage Cars,Our Vintage Car models realistically portray a...
89,S18_2248,1911 Ford Town Car,Vintage Cars,Our Vintage Car models realistically portray a...
90,S18_2325,1932 Model A Ford J-Coupe,Vintage Cars,Our Vintage Car models realistically portray a...
91,S18_2795,1928 Mercedes-Benz SSK,Vintage Cars,Our Vintage Car models realistically portray a...
92,S18_2949,1913 Ford Model T Speedster,Vintage Cars,Our Vintage Car models realistically portray a...
93,S18_2957,1934 Ford V8 Coupe,Vintage Cars,Our Vintage Car models realistically portray a...
94,S18_3136,18th Century Vintage Horse Carriage,Vintage Cars,Our Vintage Car models realistically portray a...
95,S18_3140,1903 Ford Model A,Vintage Cars,Our Vintage Car models realistically portray a...
96,S18_3320,1917 Maxwell Touring Car,Vintage Cars,Our Vintage Car models realistically portray a...
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Vintage Cars,Our Vintage Car models realistically portray a...
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Vintage Cars,Our Vintage Car models realistically portray a...
99,S18_4522,1904 Buick Runabout,Vintage Cars,Our Vintage Car models realistically portray a...
100,S18_4668,1939 Cadillac Limousine,Vintage Cars,Our Vintage Car models realistically portray a...
101,S24_1937,1939 Chevrolet Deluxe Coupe,Vintage Cars,Our Vintage Car models realistically portray a...
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Vintage Cars,Our Vintage Car models realistically portray a...
103,S24_3151,1912 Ford Model T Delivery Wagon,Vintage Cars,Our Vintage Car models realistically portray a...
104,S24_3420,1937 Horch 930V Limousine,Vintage Cars,Our Vintage Car models realistically portray a...
105,S24_3816,1940 Ford Delivery Sedan,Vintage Cars,Our Vintage Car models realistically portray a...
106,S24_3969,1936 Mercedes Benz 500k Roadster,Vintage Cars,Our Vintage Car models realistically portray a...
107,S24_4258,1936 Chrysler Airflow,Vintage Cars,Our Vintage Car models realistically portray a...
108,S32_4289,1928 Ford Phaeton Deluxe,Vintage Cars,Our Vintage Car models realistically portray a...
109,S50_1341,1930 Buick Marquette Phaeton,Vintage Cars,Our Vintage Car models realistically portray a...

# USING

In [6]:
run("""
SELECT 
    productCode, 
    productName, 
    textDescription
FROM
    products
        INNER JOIN
    productlines USING (productline)
""")

#productLine dari t1 dan dari t2 disingkat menggunakan using
#tabel yg dijoin dengan nama kolom yg beda tidak bisa pakai using

,productCode,productName,textDescription
0,S10_1949,1952 Alpine Renault 1300,Attention car enthusiasts: Make your wildest c...
1,S10_4757,1972 Alfa Romeo GTA,Attention car enthusiasts: Make your wildest c...
2,S10_4962,1962 LanciaA Delta 16V,Attention car enthusiasts: Make your wildest c...
3,S12_1099,1968 Ford Mustang,Attention car enthusiasts: Make your wildest c...
4,S12_1108,2001 Ferrari Enzo,Attention car enthusiasts: Make your wildest c...
5,S12_3148,1969 Corvair Monza,Attention car enthusiasts: Make your wildest c...
6,S12_3380,1968 Dodge Charger,Attention car enthusiasts: Make your wildest c...
7,S12_3891,1969 Ford Falcon,Attention car enthusiasts: Make your wildest c...
8,S12_3990,1970 Plymouth Hemi Cuda,Attention car enthusiasts: Make your wildest c...
9,S12_4675,1969 Dodge Charger,Attention car enthusiasts: Make your wildest c...
10,S18_1129,1993 Mazda RX-7,Attention car enthusiasts: Make your wildest c...
11,S18_1589,1965 Aston Martin DB5,Attention car enthusiasts: Make your wildest c...
12,S18_1889,1948 Porsche 356-A Roadster,Attention car enthusiasts: Make your wildest c...
13,S18_1984,1995 Honda Civic,Attention car enthusiasts: Make your wildest c...
14,S18_2238,1998 Chrysler Plymouth Prowler,Attention car enthusiasts: Make your wildest c...
15,S18_2870,1999 Indy 500 Monte Carlo SS,Attention car enthusiasts: Make your wildest c...
16,S18_3232,1992 Ferrari 360 Spider red,Attention car enthusiasts: Make your wildest c...
17,S18_3233,1985 Toyota Supra,Attention car enthusiasts: Make your wildest c...
18,S18_3278,1969 Dodge Super Bee,Attention car enthusiasts: Make your wildest c...
19,S18_3482,1976 Ford Gran Torino,Attention car enthusiasts: Make your wildest c...
20,S18_3685,1948 Porsche Type 356 Roadster,Attention car enthusiasts: Make your wildest c...
21,S18_4027,1970 Triumph Spitfire,Attention car enthusiasts: Make your wildest c...
22,S18_4721,1957 Corvette Convertible,Attention car enthusiasts: Make your wildest c...
23,S18_4933,1957 Ford Thunderbird,Attention car enthusiasts: Make your wildest c...
24,S24_1046,1970 Chevy Chevelle SS 454,Attention car enthusiasts: Make your wildest c...
25,S24_1444,1970 Dodge Coronet,Attention car enthusiasts: Make your wildest c...
26,S24_1628,1966 Shelby Cobra 427 S/C,Attention car enthusiasts: Make your wildest c...
27,S24_2766,1949 Jaguar XK 120,Attention car enthusiasts: Make your wildest c...
28,S24_2840,1958 Chevy Corvette Limited Edition,Attention car enthusiasts: Make your wildest c...
29,S24_2887,1952 Citroen-15CV,Attention car enthusiasts: Make your wildest c...
...,...,...,...
80,S18_4600,1940s Ford truck,The Truck and Bus models are realistic replica...
81,S24_2300,1962 Volkswagen Microbus,The Truck and Bus models are realistic replica...
82,S32_1268,1980â€™s GM Manhattan Express,The Truck and Bus models are realistic replica...
83,S32_2509,1954 Greyhound Scenicruiser,The Truck and Bus models are realistic replica...
84,S32_3522,1996 Peterbilt 379 Stake Bed with Outrigger,The Truck and Bus models are realistic replica...
85,S50_1392,Diamond T620 Semi-Skirted Tanker,The Truck and Bus models are realistic replica...
86,S18_1342,1937 Lincoln Berline,Our Vintage Car models realistically portray a...
87,S18_1367,1936 Mercedes-Benz 500K Special Roadster,Our Vintage Car models realistically portray a...
88,S18_1749,1917 Grand Touring Sedan,Our Vintage Car models realistically portray a...
89,S18_2248,1911 Ford Town Car,Our Vintage Car models realistically portray a...
90,S18_2325,1932 Model A Ford J-Coupe,Our Vintage Car models realistically portray a...
91,S18_2795,1928 Mercedes-Benz SSK,Our Vintage Car models realistically portray a...
92,S18_2949,1913 Ford Model T Speedster,Our Vintage Car models realistically portray a...
93,S18_2957,1934 Ford V8 Coupe,Our Vintage Car models realistically portray a...
94,S18_3136,18th Century Vintage Horse Carriage,Our Vintage Car models realistically portray a...
95,S18_3140,1903 Ford Model A,Our Vintage Car models realistically portray a...
96,S18_3320,1917 Maxwell Touring Car,Our Vintage Car models realistically portray a...
97,S18_3856,1941 Chevrolet Special Deluxe Cabriolet,Our Vintage Car models realistically portray a...
98,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,Our Vintage Car models realistically portray a...
99,S18_4522,1904 Buick Runabout,Our Vintage Car models realistically portray a...
100,S18_4668,1939 Cadillac Limousine,Our Vintage Car models realistically portray a...
101,S24_1937,1939 Chevrolet Deluxe Coupe,Our Vintage Car models realistically portray a...
102,S24_2022,1938 Cadillac V-16 Presidential Limousine,Our Vintage Car models realistically portray a...
103,S24_3151,1912 Ford Model T Delivery Wagon,Our Vintage Car models realistically portray a...
104,S24_3420,1937 Horch 930V Limousine,Our Vintage Car models realistically portray a...
105,S24_3816,1940 Ford Delivery Sedan,Our Vintage Car models realistically portray a...
106,S24_3969,1936 Mercedes Benz 500k Roadster,Our Vintage Car models realistically portray a...
107,S24_4258,1936 Chrysler Airflow,Our Vintage Car models realistically portray a...
108,S32_4289,1928 Ford Phaeton Deluxe,Our Vintage Car models realistically portray a...
109,S50_1341,1930 Buick Marquette Phaeton,Our Vintage Car models realistically portray a...

In [11]:
#join antara orders dengan orderdetails menggunakan inner join
run("""
SELECT orderNumber,quantityordered,priceEach,productcode
FROM
    orders
        INNER JOIN
    orderdetails USING (orderNumber)
""")

      orderNumber  quantityordered  priceEach productcode
0           10123               26     120.71    S18_1589
1           10123               46     114.84    S18_2870
2           10123               34     117.26    S18_3685
3           10123               50      43.27    S24_1628
4           10298               39     105.86    S10_2016
5           10298               32      60.57    S18_2625
6           10345               43      38.98    S24_2022
7           10124               21     153.00    S18_1749
8           10124               42      58.12    S18_2248
9           10124               42     111.87    S18_2325
10          10124               36      75.46    S18_4409
11          10124               23      66.28    S18_4933
12          10124               22      62.47    S24_1046
13          10124               45      30.53    S24_1937
14          10124               22      36.29    S24_2022
15          10124               32      74.51    S24_2766
16          10124               25      93.95    S24_2887
17          10124               49      76.19    S24_3191
18          10124               43     101.73    S24_3432
19          10124               46      36.11    S24_3969
20          10278               34     114.65    S18_1129
21          10278               23     107.02    S18_1589
22          10278               29      73.15    S18_1889
23          10278               29     118.07    S18_1984
24          10278               39     117.48    S18_2870
25          10278               42     167.65    S18_3232
26          10278               31     114.44    S18_3685
27          10278               35      48.80    S24_1628
28          10278               31      37.38    S24_2972
29          10278               25     136.22    S24_3856
...           ...              ...        ...         ...
2966        10179               34      43.20    S50_1341
2967        10179               23      75.81   S700_1691
2968        10179               25      98.48   S700_2834
2969        10179               39      80.00   S700_3167
2970        10360               50     126.15    S18_1662
2971        10360               41      68.43    S18_2581
2972        10360               46      71.40    S18_3029
2973        10360               29     122.93    S18_3140
2974        10360               29      94.79    S18_3259
2975        10360               40     101.64    S18_3856
2976        10360               40      76.36    S18_4522
2977        10360               22     106.14    S24_1785
2978        10360               31     100.77    S24_2011
2979        10360               49      55.49    S24_2841
2980        10360               36      70.81    S24_3151
2981        10360               22      78.83    S24_3816
2982        10360               32      64.67   S700_1138
2983        10360               26      86.61   S700_1938
2984        10360               30      70.11   S700_2610
2985        10360               35      83.14   S700_3505
2986        10360               31      92.36   S700_3962
2987        10360               31      54.05    S72_3212
2988        10399               40      77.52    S10_1678
2989        10399               51      99.91    S10_2016
2990        10399               22     156.86    S10_4698
2991        10399               29     123.51    S12_2823
2992        10399               30      51.48    S18_2625
2993        10399               57     104.81    S24_1578
2994        10399               58      75.41    S24_2000
2995        10399               32      97.89    S32_1374

[2996 rows x 4 columns]

# Kombinasi dengan GROUP BY

In [12]:
run("""
SELECT 
    T1.orderNumber,
    status,
    SUM(quantityOrdered * priceEach) total
FROM
    orders AS T1
        INNER JOIN
    orderdetails AS T2 ON T1.orderNumber = T2.orderNumber
GROUP BY orderNumber
""")

#order ini total belanjanya segini, order ini total belanjanya segini

     orderNumber      status     total
0          10100     Shipped  10223.83
1          10101     Shipped  10549.01
2          10102     Shipped   5494.78
3          10103     Shipped  50218.95
4          10104     Shipped  40206.20
5          10105     Shipped  53959.21
6          10106     Shipped  52151.81
7          10107     Shipped  22292.62
8          10108     Shipped  51001.22
9          10109     Shipped  25833.14
10         10110     Shipped  48425.69
11         10111     Shipped  16537.85
12         10112     Shipped   7674.94
13         10113     Shipped  11044.30
14         10114     Shipped  33383.14
15         10115     Shipped  21665.98
16         10116     Shipped   1627.56
17         10117     Shipped  44380.15
18         10118     Shipped   3101.40
19         10119     Shipped  35826.33
20         10120     Shipped  45864.03
21         10121     Shipped  16700.47
22         10122     Shipped  50824.66
23         10123     Shipped  14571.44
24         10124     Shipped  32641.98
25         10125     Shipped   7565.08
26         10126     Shipped  57131.92
27         10127     Shipped  58841.35
28         10128     Shipped  13884.99
29         10129     Shipped  29429.14
..           ...         ...       ...
296        10396     Shipped  27695.54
297        10397     Shipped  12432.32
298        10398     Shipped  46656.94
299        10399     Shipped  30253.75
300        10400     Shipped  31755.34
301        10401     On Hold  43525.04
302        10402     Shipped  12190.85
303        10403     Shipped  37258.94
304        10404     Shipped  41426.81
305        10405     Shipped  35157.75
306        10406    Disputed  21638.62
307        10407     On Hold  52229.55
308        10408     Shipped    615.45
309        10409     Shipped   2326.18
310        10410     Shipped  36442.34
311        10411     Shipped  29070.38
312        10412     Shipped  46895.48
313        10413     Shipped  28500.78
314        10414     On Hold  50806.85
315        10415    Disputed  10945.26
316        10416     Shipped  35362.26
317        10417    Disputed  28574.90
318        10418     Shipped  23627.44
319        10419     Shipped  52420.07
320        10420  In Process  42251.51
321        10421  In Process   7639.10
322        10422  In Process   5849.44
323        10423  In Process   8597.73
324        10424  In Process  29310.30
325        10425  In Process  41623.44

[326 rows x 3 columns]

# Join dengan Operasi Perbandingan Lain

In [13]:
run("""
SELECT 
    orderNumber, 
    productName, 
    msrp, 
    priceEach
FROM
    products p
        INNER JOIN
    orderdetails o ON p.productcode = o.productcode
        AND p.msrp > o.priceEach
WHERE
    p.productcode = 'S10_1678'
""")

#msrp=harga jual yg dicanangkan oleh perusahaan
#priceEach=realitasnya
#melihat produk khusus yg s10_1678 yg harga jualnya lebih rendah dari harga seharusnya
#on bisa untuk operasi perbandingan lain

    orderNumber                            productName  msrp  priceEach
0         10107  1969 Harley Davidson Ultimate Chopper  95.7      81.35
1         10121  1969 Harley Davidson Ultimate Chopper  95.7      86.13
2         10134  1969 Harley Davidson Ultimate Chopper  95.7      90.92
3         10145  1969 Harley Davidson Ultimate Chopper  95.7      76.56
4         10159  1969 Harley Davidson Ultimate Chopper  95.7      81.35
5         10168  1969 Harley Davidson Ultimate Chopper  95.7      94.74
6         10180  1969 Harley Davidson Ultimate Chopper  95.7      76.56
7         10201  1969 Harley Davidson Ultimate Chopper  95.7      82.30
8         10211  1969 Harley Davidson Ultimate Chopper  95.7      90.92
9         10223  1969 Harley Davidson Ultimate Chopper  95.7      80.39
10        10237  1969 Harley Davidson Ultimate Chopper  95.7      91.87
11        10251  1969 Harley Davidson Ultimate Chopper  95.7      93.79
12        10263  1969 Harley Davidson Ultimate Chopper  95.7      89.00
13        10275  1969 Harley Davidson Ultimate Chopper  95.7      81.35
14        10299  1969 Harley Davidson Ultimate Chopper  95.7      76.56
15        10309  1969 Harley Davidson Ultimate Chopper  95.7      94.74
16        10318  1969 Harley Davidson Ultimate Chopper  95.7      84.22
17        10329  1969 Harley Davidson Ultimate Chopper  95.7      80.39
18        10341  1969 Harley Davidson Ultimate Chopper  95.7      84.22
19        10354  1969 Harley Davidson Ultimate Chopper  95.7      84.22
20        10361  1969 Harley Davidson Ultimate Chopper  95.7      92.83
21        10375  1969 Harley Davidson Ultimate Chopper  95.7      76.56
22        10388  1969 Harley Davidson Ultimate Chopper  95.7      80.39
23        10399  1969 Harley Davidson Ultimate Chopper  95.7      77.52
24        10403  1969 Harley Davidson Ultimate Chopper  95.7      85.17
25        10417  1969 Harley Davidson Ultimate Chopper  95.7      79.43

# 2. LEFT JOIN

In [14]:
run("""
SELECT
 c.customerNumber,
 c.customerName,
 orderNumber,
 o.status
FROM
 customers c
LEFT JOIN orders o ON c.customerNumber = o.customerNumber
""")

#customer yg left join dengan order brrti yg customer yg tidak order tetap tampil

     customerNumber                    customerName  orderNumber      status
0               103               Atelier graphique      10123.0     Shipped
1               103               Atelier graphique      10298.0     Shipped
2               103               Atelier graphique      10345.0     Shipped
3               112              Signal Gift Stores      10124.0     Shipped
4               112              Signal Gift Stores      10278.0     Shipped
5               112              Signal Gift Stores      10346.0     Shipped
6               114      Australian Collectors, Co.      10120.0     Shipped
7               114      Australian Collectors, Co.      10125.0     Shipped
8               114      Australian Collectors, Co.      10223.0     Shipped
9               114      Australian Collectors, Co.      10342.0     Shipped
10              114      Australian Collectors, Co.      10347.0     Shipped
11              119               La Rochelle Gifts      10275.0     Shipped
12              119               La Rochelle Gifts      10315.0     Shipped
13              119               La Rochelle Gifts      10375.0     Shipped
14              119               La Rochelle Gifts      10425.0  In Process
15              121              Baane Mini Imports      10103.0     Shipped
16              121              Baane Mini Imports      10158.0     Shipped
17              121              Baane Mini Imports      10309.0     Shipped
18              121              Baane Mini Imports      10325.0     Shipped
19              124    Mini Gifts Distributors Ltd.      10113.0     Shipped
20              124    Mini Gifts Distributors Ltd.      10135.0     Shipped
21              124    Mini Gifts Distributors Ltd.      10142.0     Shipped
22              124    Mini Gifts Distributors Ltd.      10182.0     Shipped
23              124    Mini Gifts Distributors Ltd.      10229.0     Shipped
24              124    Mini Gifts Distributors Ltd.      10271.0     Shipped
25              124    Mini Gifts Distributors Ltd.      10282.0     Shipped
26              124    Mini Gifts Distributors Ltd.      10312.0     Shipped
27              124    Mini Gifts Distributors Ltd.      10335.0     Shipped
28              124    Mini Gifts Distributors Ltd.      10357.0     Shipped
29              124    Mini Gifts Distributors Ltd.      10368.0     Shipped
..              ...                             ...          ...         ...
320             459                Warburg Exchange          NaN        None
321             462                FunGiftIdeas.com      10166.0     Shipped
322             462                FunGiftIdeas.com      10321.0     Shipped
323             462                FunGiftIdeas.com      10388.0     Shipped
324             465             Anton Designs, Ltd.          NaN        None
325             471    Australian Collectables, Ltd      10193.0     Shipped
326             471    Australian Collectables, Ltd      10265.0     Shipped
327             471    Australian Collectables, Ltd      10415.0    Disputed
328             473              Frau da Collezione      10157.0     Shipped
329             473              Frau da Collezione      10218.0     Shipped
330             475     West Coast Collectables Co.      10199.0     Shipped
331             475     West Coast Collectables Co.      10215.0     Shipped
332             477             Mit VergnÃ¼gen & Co.          NaN        None
333             480       Kremlin Collectables, Co.          NaN        None
334             481              Raanan Stores, Inc          NaN        None
335             484      Iberia Gift Imports, Corp.      10184.0     Shipped
336             484      Iberia Gift Imports, Corp.      10303.0     Shipped
337             486    Motor Mint Distributors Inc.      10109.0     Shipped
338             486    Motor Mint Distributors Inc.      10236.0     Shipped
339             486    Motor Mint Distributors Inc.      10331.0     Shipped
340             487        Signal Collectibles Ltd.      10149.0     Shipped
341             487        Signal Collectibles Ltd.      10219.0     Shipped
342             489  Double Decker Gift Stores, Ltd      10186.0     Shipped
343             489  Double Decker Gift Stores, Ltd      10213.0     Shipped
344             495            Diecast Collectables      10207.0     Shipped
345             495            Diecast Collectables      10243.0     Shipped
346             496               Kelly's Gift Shop      10138.0     Shipped
347             496               Kelly's Gift Shop      10179.0   Cancelled
348             496               Kelly's Gift Shop      10360.0     Shipped
349             496               Kelly's Gift Shop      10399.0     Shipped

[350 rows x 4 columns]

In [15]:

run("""
SELECT 
    c.customerNumber, 
    c.customerName, 
    orderNumber, 
    o.status
FROM
    customers c
        LEFT JOIN
    orders o ON c.customerNumber = o.customerNumber
WHERE
    orderNumber IS NULL
""")

    customerNumber                    customerName orderNumber status
0              125              Havel & Zbyszek Co        None   None
1              168          American Souvenirs Inc        None   None
2              169               Porto Imports Co.        None   None
3              206      Asian Shopping Network, Co        None   None
4              223                 NatÃ¼rlich Autos        None   None
5              237                   ANG Resellers        None   None
6              247        Messner Shopping Network        None   None
7              273               Franken Gifts, Co        None   None
8              293               BG&E Collectables        None   None
9              303                Schuyler Imports        None   None
10             307                Der Hund Imports        None   None
11             335       Cramer SpezialitÃ¤ten, Ltd        None   None
12             348           Asian Treasures, Inc.        None   None
13             356            SAR Distributors, Co        None   None
14             361                 Kommission Auto        None   None
15             369          Lisboa Souveniers, Inc        None   None
16             376           Precious Collectables        None   None
17             409  Stuttgart Collectable Exchange        None   None
18             443        Feuer Online Stores, Inc        None   None
19             459                Warburg Exchange        None   None
20             465             Anton Designs, Ltd.        None   None
21             477             Mit VergnÃ¼gen & Co.        None   None
22             480       Kremlin Collectables, Co.        None   None
23             481              Raanan Stores, Inc        None   None

# WHERE vs ON

In [16]:
run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails USING (orderNumber)
WHERE
    orderNumber = 10123
""")

#yg atas dipisahin dulu baru dibatasi
#where dilakukan setelah adanya join
#on dilakukan sebelum adanya where

   orderNumber  customerNumber productCode
0        10123             103    S18_1589
1        10123             103    S18_2870
2        10123             103    S18_3685
3        10123             103    S24_1628

In [17]:

run("""
SELECT 
    o.orderNumber, 
    customerNumber, 
    productCode
FROM
    orders o
        LEFT JOIN
    orderDetails d ON o.orderNumber = d.orderNumber
        AND o.orderNumber = 10123
""")

#yg dikiri semua ditampilkan apapun on nya
#yg gak ada relasi ditandakan dengan none
#meskipun yg bukan 10123 muncul tetapi tidak ada relasi di kanan

     orderNumber  customerNumber productCode
0          10123             103    S18_1589
1          10123             103    S18_2870
2          10123             103    S18_3685
3          10123             103    S24_1628
4          10298             103        None
5          10345             103        None
6          10124             112        None
7          10278             112        None
8          10346             112        None
9          10120             114        None
10         10125             114        None
11         10223             114        None
12         10342             114        None
13         10347             114        None
14         10275             119        None
15         10315             119        None
16         10375             119        None
17         10425             119        None
18         10103             121        None
19         10158             121        None
20         10309             121        None
21         10325             121        None
22         10113             124        None
23         10135             124        None
24         10142             124        None
25         10182             124        None
26         10229             124        None
27         10271             124        None
28         10282             124        None
29         10312             124        None
..           ...             ...         ...
299        10242             456        None
300        10319             456        None
301        10126             458        None
302        10214             458        None
303        10348             458        None
304        10166             462        None
305        10321             462        None
306        10388             462        None
307        10193             471        None
308        10265             471        None
309        10415             471        None
310        10157             473        None
311        10218             473        None
312        10199             475        None
313        10215             475        None
314        10184             484        None
315        10303             484        None
316        10109             486        None
317        10236             486        None
318        10331             486        None
319        10149             487        None
320        10219             487        None
321        10186             489        None
322        10213             489        None
323        10207             495        None
324        10243             495        None
325        10138             496        None
326        10179             496        None
327        10360             496        None
328        10399             496        None

[329 rows x 3 columns]

# 3. RIGHT JOIN

In [18]:

run("""
SELECT 
    concat(e.firstName,' ', e.lastName) salesman, 
    e.jobTitle, 
    customerName
FROM
    employees e
        RIGHT JOIN
    customers c ON e.employeeNumber = c.salesRepEmployeeNumber
        AND e.jobTitle = 'Sales Rep'
ORDER BY customerName
""")

#semua customernya ditampilkan tetapi kan ada yg tidak berelasi sebagai sales rep, mungkin bisa dngan VP / manager

             salesman   jobTitle                        customerName
0    Gerard Hernandez  Sales Rep                        Alpha Cognac
1      Foon Yue Tseng  Sales Rep              American Souvenirs Inc
2     Pamela Castillo  Sales Rep                  Amica Models & Co.
3                None       None                       ANG Resellers
4         Andy Fixter  Sales Rep             Anna's Decorations, Ltd
5                None       None                 Anton Designs, Ltd.
6                None       None          Asian Shopping Network, Co
7                None       None               Asian Treasures, Inc.
8    Gerard Hernandez  Sales Rep                   Atelier graphique
9         Andy Fixter  Sales Rep        Australian Collectables, Ltd
10        Andy Fixter  Sales Rep          Australian Collectors, Co.
11        Andy Fixter  Sales Rep         Australian Gift Network, Co
12   Gerard Hernandez  Sales Rep                Auto AssociÃ©s & Cie.
13        Loui Bondur  Sales Rep                   Auto Canal+ Petit
14    Steve Patterson  Sales Rep             Auto-Moto Classics Inc.
15         Larry Bott  Sales Rep                      AV Stores, Co.
16        Barry Jones  Sales Rep                  Baane Mini Imports
17        Barry Jones  Sales Rep  Bavarian Collectables Imports, Co.
18               None       None                   BG&E Collectables
19        Barry Jones  Sales Rep                Blauer See Auto, Co.
20    Leslie Thompson  Sales Rep                   Boards & Toys Co.
21      Martin Gerard  Sales Rep                         CAF Imports
22     Julie Firrelli  Sales Rep          Cambridge Collectables Co.
23      George Vanauf  Sales Rep      Canadian Gift Exchange Network
24     Julie Firrelli  Sales Rep             Classic Gift Ideas, Inc
25     Foon Yue Tseng  Sales Rep                Classic Legends Inc.
26        Barry Jones  Sales Rep             Clover Collections, Co.
27    Leslie Thompson  Sales Rep        Collectable Mini Designs Co.
28     Julie Firrelli  Sales Rep          Collectables For Less Inc.
29    Leslie Jennings  Sales Rep            Corporate Gift Ideas Co.
..                ...        ...                                 ...
92               None       None                  Raanan Stores, Inc
93        Loui Bondur  Sales Rep                  Reims Collectables
94    Pamela Castillo  Sales Rep                       Rovelli Gifts
95      George Vanauf  Sales Rep   Royal Canadian Collectables, Ltd.
96    Pamela Castillo  Sales Rep                        Royale Belge
97    Pamela Castillo  Sales Rep               Salzburg Collectables
98               None       None                SAR Distributors, Co
99        Loui Bondur  Sales Rep              Saveley & Henriot, Co.
100       Barry Jones  Sales Rep             Scandinavian Gift Ideas
101              None       None                    Schuyler Imports
102   Leslie Jennings  Sales Rep            Signal Collectibles Ltd.
103   Leslie Thompson  Sales Rep                  Signal Gift Stores
104       Andy Fixter  Sales Rep           Souveniers And Things Co.
105              None       None      Stuttgart Collectable Exchange
106        Larry Bott  Sales Rep            Stylish Desk Decors, Co.
107        Larry Bott  Sales Rep                 Suominen Souveniers
108    Foon Yue Tseng  Sales Rep                    Super Scale Inc.
109   Leslie Jennings  Sales Rep                Technics Stores Inc.
110     George Vanauf  Sales Rep             Tekni Collectables Inc.
111   Leslie Jennings  Sales Rep           The Sharp Gifts Warehouse
112        Mami Nishi  Sales Rep             Tokyo Collectables, Ltd
113       Barry Jones  Sales Rep             Toms SpezialitÃ¤ten, Ltd
114        Larry Bott  Sales Rep                Toys of Finland, Co.
115   Leslie Thompson  Sales Rep                   Toys4GrownUps.com
116        Larry Bott  Sales Rep               UK Collectables, Ltd.
117     Martin Gerard  Sales Rep                     Vida Sport, Ltd
118    Foon Yue Tseng  Sales Rep                     Vitachrome Inc.
119       Barry Jones  Sales Rep            Volvo Model Replicas, Co
120              None       None                    Warburg Exchange
121   Leslie Thompson  Sales Rep         West Coast Collectables Co.

[122 rows x 3 columns]

# 4. CROSS JOIN
digunakan untuk melihat kombinasi, misal penjualan baju, ada warna merah biru dll, ukuran m, l, xl, s, lalu bisa dicari klo misal mau cari baju warna biru ukurannya bisa apa saja kombinasinya. sangat jarang digunakan kasus ini, sering untuk kombinasi. sintaksnya cross join tanpa embel2 on / apapun

# 5. Self Join
dalam employee pasti punya 1 atasan, dan ada banyak bawahan, letaknya ada di satu tabel

In [19]:
run("""
SELECT 
    CONCAT(m.lastname, ', ', m.firstname) AS 'Manager',
    CONCAT(e.lastname, ', ', e.firstname) AS 'Direct report'
FROM
    employees e
        INNER JOIN
    employees m ON m.employeeNumber = e.reportsto
ORDER BY manager
""")

#e alias dr employee pertama
#managernya bondur gerard, punya bawahannya hernandez, gerard dll

               Manager       Direct report
0       Bondur, Gerard   Hernandez, Gerard
1       Bondur, Gerard        Bondur, Loui
2       Bondur, Gerard      Gerard, Martin
3       Bondur, Gerard        Jones, Barry
4       Bondur, Gerard         Bott, Larry
5       Bondur, Gerard    Castillo, Pamela
6         Bow, Anthony     Firrelli, Julie
7         Bow, Anthony    Thompson, Leslie
8         Bow, Anthony    Jennings, Leslie
9         Bow, Anthony      Vanauf, George
10        Bow, Anthony     Tseng, Foon Yue
11        Bow, Anthony    Patterson, Steve
12       Murphy, Diane      Firrelli, Jeff
13       Murphy, Diane     Patterson, Mary
14         Nishi, Mami       Kato, Yoshimi
15     Patterson, Mary  Patterson, William
16     Patterson, Mary        Bow, Anthony
17     Patterson, Mary      Bondur, Gerard
18     Patterson, Mary         Nishi, Mami
19  Patterson, William           King, Tom
20  Patterson, William        Marsh, Peter
21  Patterson, William        Fixter, Andy

In [20]:
run("""
SELECT 
    IFNULL(CONCAT(m.lastname, ', ', m.firstname),
            'Top Manager') AS 'Manager',
    CONCAT(e.lastname, ', ', e.firstname) AS 'Direct report'
FROM
    employees e
        LEFT JOIN
    employees m ON m.employeeNumber = e.reportsto
ORDER BY manager DESC
""")

#jika tidak ada relasi jadinya top manager

               Manager       Direct report
0          Top Manager       Murphy, Diane
1   Patterson, William        Marsh, Peter
2   Patterson, William        Fixter, Andy
3   Patterson, William           King, Tom
4      Patterson, Mary        Bow, Anthony
5      Patterson, Mary      Bondur, Gerard
6      Patterson, Mary         Nishi, Mami
7      Patterson, Mary  Patterson, William
8          Nishi, Mami       Kato, Yoshimi
9        Murphy, Diane      Firrelli, Jeff
10       Murphy, Diane     Patterson, Mary
11        Bow, Anthony    Thompson, Leslie
12        Bow, Anthony    Jennings, Leslie
13        Bow, Anthony      Vanauf, George
14        Bow, Anthony     Tseng, Foon Yue
15        Bow, Anthony    Patterson, Steve
16        Bow, Anthony     Firrelli, Julie
17      Bondur, Gerard        Bondur, Loui
18      Bondur, Gerard      Gerard, Martin
19      Bondur, Gerard        Jones, Barry
20      Bondur, Gerard         Bott, Larry
21      Bondur, Gerard    Castillo, Pamela
22      Bondur, Gerard   Hernandez, Gerard

In [21]:
run("""
SELECT 
    c1.city, c1.customerName, c2.customerName
FROM
    customers c1
        INNER JOIN
    customers c2 ON c1.city = c2.city
        AND c1.customername > c2.customerName
ORDER BY c1.city
""")

#customername c1 desc

,city,customerName,customerName
0,Auckland,Kelly's Gift Shop,GiftsForHim.com
1,Auckland,Kelly's Gift Shop,"Down Under Souveniers, Inc"
2,Auckland,GiftsForHim.com,"Down Under Souveniers, Inc"
3,Boston,Gifts4AllAges.com,Diecast Collectables
4,Brickhaven,Collectables For Less Inc.,Auto-Moto Classics Inc.
5,Brickhaven,Online Mini Collectables,Collectables For Less Inc.
6,Brickhaven,Online Mini Collectables,Auto-Moto Classics Inc.
7,Cambridge,Marta's Replicas Co.,Cambridge Collectables Co.
8,Frankfurt,Messner Shopping Network,"Blauer See Auto, Co."
9,Glendale,Gift Ideas Corp.,Boards & Toys Co.
10,Lisboa,Porto Imports Co.,"Lisboa Souveniers, Inc"
11,London,"Stylish Desk Decors, Co.","Double Decker Gift Stores, Ltd"
12,Madrid,"Corrida Auto Replicas, Ltd",ANG Resellers
13,Madrid,Euro+ Shopping Channel,"Anton Designs, Ltd."
14,Madrid,CAF Imports,ANG Resellers
15,Madrid,"Corrida Auto Replicas, Ltd",CAF Imports
16,Madrid,"Corrida Auto Replicas, Ltd","Anton Designs, Ltd."
17,Madrid,"Anton Designs, Ltd.",ANG Resellers
18,Madrid,Euro+ Shopping Channel,ANG Resellers
19,Madrid,Euro+ Shopping Channel,CAF Imports
20,Madrid,CAF Imports,"Anton Designs, Ltd."
21,Madrid,Euro+ Shopping Channel,"Corrida Auto Replicas, Ltd"
22,Nantes,La Rochelle Gifts,Atelier graphique
23,New Bedford,Mini Creations Ltd.,FunGiftIdeas.com
24,New Haven,Super Scale Inc.,American Souvenirs Inc
25,NYC,Microscale Inc.,Classic Legends Inc.
26,NYC,Vitachrome Inc.,Muscle Machine Inc
27,NYC,Land of Toys Inc.,Classic Legends Inc.
28,NYC,Vitachrome Inc.,Land of Toys Inc.
29,NYC,Vitachrome Inc.,Microscale Inc.
30,NYC,Vitachrome Inc.,Classic Legends Inc.
31,NYC,Muscle Machine Inc,Land of Toys Inc.
32,NYC,Muscle Machine Inc,Microscale Inc.
33,NYC,Muscle Machine Inc,Classic Legends Inc.
34,NYC,Microscale Inc.,Land of Toys Inc.
35,Paris,Lyon Souveniers,"La Corne D'abondance, Co."
36,Paris,Lyon Souveniers,Auto Canal+ Petit
37,Paris,"La Corne D'abondance, Co.",Auto Canal+ Petit
38,Philadelphia,Motor Mint Distributors Inc.,"Classic Gift Ideas, Inc"
39,San Francisco,Mini Wheels Co.,Corporate Gift Ideas Co.
40,Singapore,Handji Gifts& Co,"Dragon Souveniers, Ltd."
41,Singapore,Handji Gifts& Co,"Asian Shopping Network, Co"
42,Singapore,"Dragon Souveniers, Ltd.","Asian Shopping Network, Co"

# Latihan:
## One to many relationship
1. Report the account representative for each customer.
2. Report total payments for Atelier graphique.
3. Report the total payments by date
4. Report the products that have not been sold.
5. List the amount paid by each customer.
6. How many orders have been placed by Herkku Gifts?
7. Who are the employees in Boston?
8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.
9. List the value of 'On Hold' orders.
10. Report the number of orders 'On Hold' for each customer.

## Many to many relationship
1. List products sold by order date.
2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.
3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?
4. Are there any products that appear on all orders?
5. List the names of products sold at less than 80% of the MSRP.
6. Reports those products that have been sold with a markup of 100% or more (i.e., the priceEach is at least twice the buyPrice)
7. List the products ordered on a Monday.
8. What is the quantity on hand for products listed on 'On Hold' orders?

In [24]:
#Report the account representative for each customer.

run("""
SELECT 
    customerNumber, 
    customerName,
    firstName,
    lastName
FROM
    customers AS t1
        INNER JOIN
    employees AS t2 ON t1.SalesRepEmployeeNumber = t2.employeeNumber
""")

    customerNumber                        customerName firstName   lastName
0              124        Mini Gifts Distributors Ltd.    Leslie   Jennings
1              129                     Mini Wheels Co.    Leslie   Jennings
2              161                Technics Stores Inc.    Leslie   Jennings
3              321            Corporate Gift Ideas Co.    Leslie   Jennings
4              450           The Sharp Gifts Warehouse    Leslie   Jennings
5              487            Signal Collectibles Ltd.    Leslie   Jennings
6              112                  Signal Gift Stores    Leslie   Thompson
7              205                   Toys4GrownUps.com    Leslie   Thompson
8              219                   Boards & Toys Co.    Leslie   Thompson
9              239        Collectable Mini Designs Co.    Leslie   Thompson
10             347          Men 'R' US Retailers, Ltd.    Leslie   Thompson
11             475         West Coast Collectables Co.    Leslie   Thompson
12             173          Cambridge Collectables Co.     Julie   Firrelli
13             204            Online Mini Collectables     Julie   Firrelli
14             320                 Mini Creations Ltd.     Julie   Firrelli
15             339             Classic Gift Ideas, Inc     Julie   Firrelli
16             379          Collectables For Less Inc.     Julie   Firrelli
17             495                Diecast Collectables     Julie   Firrelli
18             157               Diecast Classics Inc.     Steve  Patterson
19             198             Auto-Moto Classics Inc.     Steve  Patterson
20             286                Marta's Replicas Co.     Steve  Patterson
21             362                   Gifts4AllAges.com     Steve  Patterson
22             363        Online Diecast Creations Co.     Steve  Patterson
23             462                    FunGiftIdeas.com     Steve  Patterson
24             151                  Muscle Machine Inc  Foon Yue      Tseng
25             168              American Souvenirs Inc  Foon Yue      Tseng
26             181                     Vitachrome Inc.  Foon Yue      Tseng
27             233        QuÃ©bec Home Shopping Network  Foon Yue      Tseng
28             424                Classic Legends Inc.  Foon Yue      Tseng
29             455                    Super Scale Inc.  Foon Yue      Tseng
..             ...                                 ...       ...        ...
70             121                  Baane Mini Imports     Barry      Jones
71             128                Blauer See Auto, Co.     Barry      Jones
72             144            Volvo Model Replicas, Co     Barry      Jones
73             167                        Herkku Gifts     Barry      Jones
74             189             Clover Collections, Co.     Barry      Jones
75             259             Toms SpezialitÃ¤ten, Ltd     Barry      Jones
76             299           Norway Gifts By Mail, Co.     Barry      Jones
77             415  Bavarian Collectables Imports, Co.     Barry      Jones
78             448             Scandinavian Gift Ideas     Barry      Jones
79             114          Australian Collectors, Co.      Andy     Fixter
80             276             Anna's Decorations, Ltd      Andy     Fixter
81             282           Souveniers And Things Co.      Andy     Fixter
82             333         Australian Gift Network, Co      Andy     Fixter
83             471        Australian Collectables, Ltd      Andy     Fixter
84             166                    Handji Gifts& Co     Peter      Marsh
85             323          Down Under Souveniers, Inc     Peter      Marsh
86             357                     GiftsForHim.com     Peter      Marsh
87             412       Extreme Desk Decorations, Ltd     Peter      Marsh
88             496                   Kelly's Gift Shop     Peter      Marsh
89             148             Dragon Souveniers, Ltd.      Mami      Nishi
90             177                Osaka Souveniers Co.      Mami      Nishi
91             211         King Kong Collectables, Co.      Mami      Nishi
92             385                     Cruz & Sons Co.      Mami      Nishi
93             398             Tokyo Collectables, Ltd      Mami      Nishi
94             216                  Enaco Distributors    Martin     Gerard
95             298                     Vida Sport, Ltd    Martin     Gerard
96             344                         CAF Imports    Martin     Gerard
97             376               Precious Collectables    Martin     Gerard
98             458          Corrida Auto Replicas, Ltd    Martin     Gerard
99             484          Iberia Gift Imports, Corp.    Martin     Gerard

[100 rows x 4 columns]

In [25]:
#Report total payments for Atelier graphique.
run("""
SELECT 
    customerNumber, 
    customerName,
    CONCAT(m.lastname, ', ', m.firstname) AS 'Nama Sales'
FROM
    customers e
        LEFT JOIN
    employees m ON e.SalesRepEmployeeNumber = m.employeeNumber
""")

     customerNumber                        customerName         Nama Sales
0               103                   Atelier graphique  Hernandez, Gerard
1               112                  Signal Gift Stores   Thompson, Leslie
2               114          Australian Collectors, Co.       Fixter, Andy
3               119                   La Rochelle Gifts  Hernandez, Gerard
4               121                  Baane Mini Imports       Jones, Barry
5               124        Mini Gifts Distributors Ltd.   Jennings, Leslie
6               125                  Havel & Zbyszek Co               None
7               128                Blauer See Auto, Co.       Jones, Barry
8               129                     Mini Wheels Co.   Jennings, Leslie
9               131                   Land of Toys Inc.     Vanauf, George
10              141              Euro+ Shopping Channel  Hernandez, Gerard
11              144            Volvo Model Replicas, Co       Jones, Barry
12              145            Danish Wholesale Imports   Castillo, Pamela
13              146              Saveley & Henriot, Co.       Bondur, Loui
14              148             Dragon Souveniers, Ltd.        Nishi, Mami
15              151                  Muscle Machine Inc    Tseng, Foon Yue
16              157               Diecast Classics Inc.   Patterson, Steve
17              161                Technics Stores Inc.   Jennings, Leslie
18              166                    Handji Gifts& Co       Marsh, Peter
19              167                        Herkku Gifts       Jones, Barry
20              168              American Souvenirs Inc    Tseng, Foon Yue
21              169                   Porto Imports Co.               None
22              171            Daedalus Designs Imports  Hernandez, Gerard
23              172           La Corne D'abondance, Co.       Bondur, Loui
24              173          Cambridge Collectables Co.    Firrelli, Julie
25              175                     Gift Depot Inc.     Vanauf, George
26              177                Osaka Souveniers Co.        Nishi, Mami
27              181                     Vitachrome Inc.    Tseng, Foon Yue
28              186                Toys of Finland, Co.        Bott, Larry
29              187                      AV Stores, Co.        Bott, Larry
..              ...                                 ...                ...
92              386                 L'ordine Souveniers   Castillo, Pamela
93              398             Tokyo Collectables, Ltd        Nishi, Mami
94              406                   Auto Canal+ Petit       Bondur, Loui
95              409      Stuttgart Collectable Exchange               None
96              412       Extreme Desk Decorations, Ltd       Marsh, Peter
97              415  Bavarian Collectables Imports, Co.       Jones, Barry
98              424                Classic Legends Inc.    Tseng, Foon Yue
99              443            Feuer Online Stores, Inc               None
100             447                    Gift Ideas Corp.     Vanauf, George
101             448             Scandinavian Gift Ideas       Jones, Barry
102             450           The Sharp Gifts Warehouse   Jennings, Leslie
103             452                     Mini Auto Werke   Castillo, Pamela
104             455                    Super Scale Inc.    Tseng, Foon Yue
105             456                     Microscale Inc.    Tseng, Foon Yue
106             458          Corrida Auto Replicas, Ltd     Gerard, Martin
107             459                    Warburg Exchange               None
108             462                    FunGiftIdeas.com   Patterson, Steve
109             465                 Anton Designs, Ltd.               None
110             471        Australian Collectables, Ltd       Fixter, Andy
111             473                  Frau da Collezione   Castillo, Pamela
112             475         West Coast Collectables Co.   Thompson, Leslie
113             477                 Mit VergnÃ¼gen & Co.               None
114             480           Kremlin Collectables, Co.               None
115             481                  Raanan Stores, Inc               None
116             484          Iberia Gift Imports, Corp.     Gerard, Martin
117             486        Motor Mint Distributors Inc.     Vanauf, George
118             487            Signal Collectibles Ltd.   Jennings, Leslie
119             489      Double Decker Gift Stores, Ltd        Bott, Larry
120             495                Diecast Collectables    Firrelli, Julie
121             496                   Kelly's Gift Shop       Marsh, Peter

[122 rows x 3 columns]

In [27]:
run("""
SELECT 
    T1.customerName,
    SUM(amount) total
FROM
    customers AS T1
        INNER JOIN
    payments AS T2 ON T1.customerNumber = T2.customerNumber
    AND customerName = 'Atelier graphique'
""")

        customerName     total
0  Atelier graphique  22314.36

In [28]:
run("""
SELECT 
    T1.customerName,
    SUM(amount) total
FROM
    customers AS T1
     JOIN
    payments AS T2 ON T1.customerNumber = T2.customerNumber
    where customerName = 'Atelier graphique'
""")

        customerName     total
0  Atelier graphique  22314.36

In [29]:
#List products sold by order date.
run("""
SELECT 
    orderDate,
    productName,
    quantityOrdered
FROM
    orders
     JOIN orderdetails using (orderNumber)
     JOIN products Using (productCode)
ORDER BY orderDate
""")

       orderDate                                  productName  quantityOrdered
0     2003-01-06                     1917 Grand Touring Sedan               30
1     2003-01-06                           1911 Ford Town Car               50
2     2003-01-06          1932 Alfa Romeo 8C2300 Spider Sport               22
3     2003-01-06             1936 Mercedes Benz 500k Roadster               49
4     2003-01-09                    1932 Model A Ford J-Coupe               25
5     2003-01-09                       1928 Mercedes-Benz SSK               26
6     2003-01-09                  1939 Chevrolet Deluxe Coupe               45
7     2003-01-09    1938 Cadillac V-16 Presidential Limousine               46
8     2003-01-10                         1937 Lincoln Berline               39
9     2003-01-10     1936 Mercedes-Benz 500K Special Roadster               41
10    2003-01-29                     1952 Alpine Renault 1300               26
11    2003-01-29                       1962 LanciaA Delta 16V               42
12    2003-01-29                               1958 Setra Bus               27
13    2003-01-29                       1940 Ford Pickup Truck               35
14    2003-01-29                        1926 Ford Fire Engine               22
15    2003-01-29                  1913 Ford Model T Speedster               27
16    2003-01-29                           1934 Ford V8 Coupe               35
17    2003-01-29          18th Century Vintage Horse Carriage               25
18    2003-01-29                     1917 Maxwell Touring Car               46
19    2003-01-29                             1940s Ford truck               36
20    2003-01-29                      1939 Cadillac Limousine               41
21    2003-01-29                     1962 Volkswagen Microbus               36
22    2003-01-29                        1936 Chrysler Airflow               25
23    2003-01-29                  1980â€™s GM Manhattan Express               31
24    2003-01-29  1996 Peterbilt 379 Stake Bed with Outrigger               45
25    2003-01-29                              1982 Camaro Z28               42
26    2003-01-31                           1969 Corvair Monza               34
27    2003-01-31                            1957 Chevy Pickup               41
28    2003-01-31               1998 Chrysler Plymouth Prowler               24
29    2003-01-31                       1964 Mercedes Tour Bus               29
...          ...                                          ...              ...
2966  2005-05-29                          2002 Chevy Corvette               26
2967  2005-05-29             1936 Mercedes Benz 500k Roadster               15
2968  2005-05-29                       1928 Mercedes-Benz SSK               35
2969  2005-05-29    1938 Cadillac V-16 Presidential Limousine               40
2970  2005-05-30                         1937 Lincoln Berline               51
2971  2005-05-30     1936 Mercedes-Benz 500K Special Roadster               25
2972  2005-05-30                  1913 Ford Model T Speedster               10
2973  2005-05-30                           1934 Ford V8 Coupe               31
2974  2005-05-30          18th Century Vintage Horse Carriage               21
2975  2005-05-30                     1917 Maxwell Touring Car               21
2976  2005-05-30                        1936 Chrysler Airflow               28
2977  2005-05-31                     1952 Alpine Renault 1300               50
2978  2005-05-31                               1958 Setra Bus               49
2979  2005-05-31                       1940 Ford Pickup Truck               54
2980  2005-05-31                      1939 Cadillac Limousine               26
2981  2005-05-31  1996 Peterbilt 379 Stake Bed with Outrigger               44
2982  2005-05-31                              1982 Camaro Z28               46
2983  2005-05-31                       1962 LanciaA Delta 16V               38
2984  2005-05-31                            1957 Chevy Pickup               33
2985  2005-05-31               1998 Chrysler Plymouth Prowler               28
2986  2005-05-31                       1964 Mercedes Tour Bus               38
2987  2005-05-31                        1926 Ford Fire Engine               19
2988  2005-05-31                  1992 Ferrari 360 Spider red               28
2989  2005-05-31                             1940s Ford truck               38
2990  2005-05-31                           1970 Dodge Coronet               55
2991  2005-05-31                     1962 Volkswagen Microbus               49
2992  2005-05-31          1958 Chevy Corvette Limited Edition               31
2993  2005-05-31                  1980â€™s GM Manhattan Express               41
2994  2005-05-31                  1954 Greyhound Scenicruiser               11
2995  2005-05-31             Diamond T620 Semi-Skirted Tanker               18

[2996 rows x 3 columns]

In [31]:
#What is the quantity on hand for products listed on 'On Hold' orders?
run("""
SELECT 
    orderNumber,
    status,
    productName,
    quantityOrdered,
    quantityInStock
FROM
    orders
     JOIN orderdetails using (orderNumber)
     JOIN products Using (productCode)
WHERE status='On Hold'
""")

,orderNumber,status,productName,quantityOrdered,quantityInStock
0,10334,On Hold,1962 LanciaA Delta 16V,26,6791
1,10334,On Hold,1964 Mercedes Tour Bus,46,8258
2,10334,On Hold,1926 Ford Fire Engine,34,2018
3,10334,On Hold,1992 Ferrari 360 Spider red,20,8347
4,10334,On Hold,1940s Ford truck,49,3128
5,10334,On Hold,1962 Volkswagen Microbus,42,2327
6,10401,On Hold,P-51-D Mustang,42,992
7,10401,On Hold,1928 British Royal Navy Airplane,38,3627
8,10401,On Hold,Corsair F4U ( Bird Cage),64,6812
9,10401,On Hold,1900s Vintage Tri-Plane,52,2756
10,10401,On Hold,1997 BMW F650 ST,49,178
11,10401,On Hold,1928 Ford Phaeton Deluxe,62,136
12,10401,On Hold,1930 Buick Marquette Phaeton,56,7062
13,10401,On Hold,American Airlines: B767-300,11,5841
14,10401,On Hold,America West Airlines B757-200,85,9653
15,10401,On Hold,ATA: B757-300,21,7106
16,10401,On Hold,F/A 18 Hornet 1/72,77,551
17,10401,On Hold,American Airlines: MD-11S,40,8820
18,10407,On Hold,1965 Aston Martin DB5,59,9042
19,10407,On Hold,1917 Grand Touring Sedan,76,2724
20,10407,On Hold,1911 Ford Town Car,42,540
21,10407,On Hold,1999 Indy 500 Monte Carlo SS,41,8164
22,10407,On Hold,1932 Alfa Romeo 8C2300 Spider Sport,6,6553
23,10407,On Hold,1957 Ford Thunderbird,66,3209
24,10407,On Hold,1970 Chevy Chevelle SS 454,26,1005
25,10407,On Hold,1966 Shelby Cobra 427 S/C,64,8197
26,10407,On Hold,1949 Jaguar XK 120,76,2350
27,10407,On Hold,1952 Citroen-15CV,59,1452
28,10407,On Hold,1969 Chevrolet Camaro Z28,13,4695
29,10407,On Hold,2002 Chevy Corvette,43,9446
30,10414,On Hold,1972 Alfa Romeo GTA,49,3252
31,10414,On Hold,1999 Yamaha Speed Boat,44,4259
32,10414,On Hold,1903 Ford Model A,41,3913
33,10414,On Hold,Collectable Wooden Train,48,6450
34,10414,On Hold,1904 Buick Runabout,56,8290
35,10414,On Hold,18th century schooner,43,1898
36,10414,On Hold,1912 Ford Model T Delivery Wagon,60,9173
37,10414,On Hold,1940 Ford Delivery Sedan,51,6621
38,10414,On Hold,The Schooner Bluenose,37,1897
39,10414,On Hold,The Mayflower,34,737
40,10414,On Hold,The USS Constitution Ship,31,7083
41,10414,On Hold,The Titanic,28,1956
42,10414,On Hold,The Queen Mary,40,5088
43,10414,On Hold,Pont Yacht,47,414

In [36]:
#What is the quantity on hand for products listed on 'On Hold' orders?
run("""
SELECT 
    productName,
    status,
    sum(quantityOrdered) as jumlahOrder,
    sum(quantityInStock) as stokTotal
FROM
    orders
     JOIN orderdetails using (orderNumber)
     JOIN products Using (productCode)
WHERE status='On Hold'
GROUP BY productName
""")

                            productName   status  jumlahOrder  stokTotal
0                 18th century schooner  On Hold         43.0     1898.0
1               1900s Vintage Tri-Plane  On Hold         52.0     2756.0
2                     1903 Ford Model A  On Hold         41.0     3913.0
3                   1904 Buick Runabout  On Hold         56.0     8290.0
4                    1911 Ford Town Car  On Hold         42.0      540.0
5      1912 Ford Model T Delivery Wagon  On Hold         60.0     9173.0
6              1917 Grand Touring Sedan  On Hold         76.0     2724.0
7                 1926 Ford Fire Engine  On Hold         34.0     2018.0
8      1928 British Royal Navy Airplane  On Hold         38.0     3627.0
9              1928 Ford Phaeton Deluxe  On Hold         62.0      136.0
10         1930 Buick Marquette Phaeton  On Hold         56.0     7062.0
11  1932 Alfa Romeo 8C2300 Spider Sport  On Hold          6.0     6553.0
12             1940 Ford Delivery Sedan  On Hold         51.0     6621.0
13                     1940s Ford truck  On Hold         49.0     3128.0
14                   1949 Jaguar XK 120  On Hold         76.0     2350.0
15                    1952 Citroen-15CV  On Hold         59.0     1452.0
16                1957 Ford Thunderbird  On Hold         66.0     3209.0
17               1962 LanciaA Delta 16V  On Hold         26.0     6791.0
18             1962 Volkswagen Microbus  On Hold         42.0     2327.0
19               1964 Mercedes Tour Bus  On Hold         46.0     8258.0
20                1965 Aston Martin DB5  On Hold         59.0     9042.0
21            1966 Shelby Cobra 427 S/C  On Hold         64.0     8197.0
22            1969 Chevrolet Camaro Z28  On Hold         13.0     4695.0
23           1970 Chevy Chevelle SS 454  On Hold         26.0     1005.0
24                  1972 Alfa Romeo GTA  On Hold         49.0     3252.0
25          1992 Ferrari 360 Spider red  On Hold         20.0     8347.0
26                     1997 BMW F650 ST  On Hold         49.0      178.0
27         1999 Indy 500 Monte Carlo SS  On Hold         41.0     8164.0
28               1999 Yamaha Speed Boat  On Hold         44.0     4259.0
29                  2002 Chevy Corvette  On Hold         43.0     9446.0
30       America West Airlines B757-200  On Hold         85.0     9653.0
31          American Airlines: B767-300  On Hold         11.0     5841.0
32            American Airlines: MD-11S  On Hold         40.0     8820.0
33                        ATA: B757-300  On Hold         21.0     7106.0
34             Collectable Wooden Train  On Hold         48.0     6450.0
35             Corsair F4U ( Bird Cage)  On Hold         64.0     6812.0
36                   F/A 18 Hornet 1/72  On Hold         77.0      551.0
37                       P-51-D Mustang  On Hold         42.0      992.0
38                           Pont Yacht  On Hold         47.0      414.0
39                        The Mayflower  On Hold         34.0      737.0
40                       The Queen Mary  On Hold         40.0     5088.0
41                The Schooner Bluenose  On Hold         37.0     1897.0
42                          The Titanic  On Hold         28.0     1956.0
43            The USS Constitution Ship  On Hold         31.0     7083.0

In [48]:
#Report the total payments by date
# run("""
# SELECT 
#     customerName,
#     sum(amount) as totalPayments
# FROM
#     customers
#      JOIN payments using (customerNumber)
# """)

run("""
SELECT 
    T1.paymentDate,
    SUM(amount) totalPayments
FROM
    payments AS T1
        INNER JOIN
    customers AS T2 ON T1.customerNumber = T2.customerNumber
GROUP BY paymentDate
""")


# run("""
# SELECT 
#     productCode, 
#     productName,
#     textDescription
# FROM
#     products AS t1
#         INNER JOIN
#     productlines AS t2 ON t1.productline = t2.productline
# """)

    paymentDate  totalPayments
0    2003-01-16       10223.83
1    2003-01-28       10549.01
2    2003-01-30        5494.78
3    2003-02-16       50218.95
4    2003-02-20       53959.21
5    2003-02-25       40206.20
6    2003-03-02       52151.81
7    2003-03-09       51001.22
8    2003-03-12       22292.62
9    2003-03-20       25833.14
10   2003-03-27       48425.69
11   2003-04-09       24212.79
12   2003-04-11       11044.30
13   2003-04-16       21665.98
14   2003-04-19        1627.56
15   2003-04-20       33383.14
16   2003-04-22       44380.15
17   2003-05-09        3101.40
18   2003-05-12       35826.33
19   2003-05-20       45864.03
20   2003-05-21       16700.47
21   2003-05-25       50824.66
22   2003-05-31        7565.08
23   2003-06-05       14571.44
24   2003-06-06       32641.98
25   2003-06-13       57131.92
26   2003-06-18       58841.35
27   2003-06-25       17032.29
28   2003-07-05        2880.00
29   2003-07-06        6036.96
..          ...            ...
202  2005-02-02       12692.19
203  2005-02-03       14379.90
204  2005-02-06       39580.60
205  2005-02-09       27083.78
206  2005-02-12       28322.83
207  2005-02-14       33967.73
208  2005-02-15       46770.52
209  2005-02-22       49523.67
210  2005-03-01       21432.31
211  2005-03-02        3452.75
212  2005-03-05      101244.59
213  2005-03-10       23602.90
214  2005-03-15       46781.66
215  2005-03-18      120166.58
216  2005-03-25       65071.26
217  2005-03-27        3516.04
218  2005-04-15       30293.77
219  2005-04-16       83598.04
220  2005-04-18       27966.54
221  2005-04-23       12190.85
222  2005-04-30       29848.52
223  2005-05-03       43964.87
224  2005-05-17       17928.09
225  2005-05-18         615.45
226  2005-05-19       75396.26
227  2005-05-20       29070.38
228  2005-05-23       75020.13
229  2005-05-25       30253.75
230  2005-06-03       12432.32
231  2005-06-09       46656.94

[232 rows x 2 columns]